*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    background: url(clouds1.jpg) no-repeat;
    background-size: cover;
}

.main{
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
    color: #fff;
}

.main label{
    font-size: 20px;
    margin: 15px 0px;
}

.main input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.main input[class="btn"]{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.main .inp{
    margin-bottom: 10px;
}
.regform{
    width: 800px;
    background-color: rgba(0, 0, 0, 6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}